.global-container {
  font-family: 'Montserrat', sans-serif !important;
  overflow: hidden;
}

.menu-frame {
  width: 100%;
  position: fixed;
  background-color: #FFF;
  background: #FFF;
  height: 100vh;
}

.menu-frame-inner {
  border: 16px solid #FDDEA8;
  /* Firefox */
  height: -moz-calc(100% - 32px);
  /* WebKit */
  height: -webkit-calc(100% - 32px);
  /* Opera */
  height: -o-calc(100% - 32px);
  /* Standard */
  height: calc(100% - 32px);
}

.menu-frame a {
  text-transform: lowercase;
  font-size: 28px;
  font-weight: 700;
  margin: 45px;
  padding: 0px 5px 3px -10px;
  text-decoration: none;
  color: black;
  transition: all 0.5s ease;
  letter-spacing: 2.5px;
}

.menu-frame a:hover {
  transition: all 0.5s ease;
  color: #009373;
}

.menu-frame .style-link {
  position: fixed;
  left: 0px;
  top: 0px;
}

.menu-frame .press-link {
  position: fixed;
  right: 0px;
  top: 0px;
}

.menu-frame .team-link {
  position: fixed;
  left: 0px;
  bottom: 0px;
}

.menu-frame .clients-link {
  position: fixed;
  right: 0px;
  bottom: 0px;
}