@font-face {
  font-family: "Baron Neue";
  font-style: normal;
  font-weight: normal;
  src: local("Baron Neue"), url("../fonts/Baron\ Neue.woff") format("woff");
}

@font-face {
  font-family: "Baron Neue Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Baron Neue Italic"),
    url("../fonts/Baron\ Neue\ Italic.woff") format("woff");
}

@font-face {
  font-family: "Baron Neue Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Baron Neue Bold Italic"),
    url("../fonts/Baron\ Neue\ Bold\ Italic.woff") format("woff");
}

@font-face {
  font-family: "Baron Neue Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Baron Neue Bold"),
    url("../fonts/Baron\ Neue\ Bold.woff") format("woff");
}

@font-face {
  font-family: "Baron Neue Black Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Baron Neue Black Italic"),
    url("../fonts/Baron\ Neue\ Black\ Italic.woff") format("woff");
}

@font-face {
  font-family: "Baron Neue Black";
  font-style: normal;
  font-weight: normal;
  src: local("Baron Neue Black"),
    url("../fonts/Baron\ Neue\ Black.woff") format("woff");
}

@font-face {
  font-family: "Print Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Print Bold"), url("../fonts/printbold.woff") format("woff");
}

html {
  scroll-behavior: smooth;
}

.global-container {
  font-family: "Print Bold";
  overflow: hidden;
  min-height: 100vh;
  /* padding-bottom: 40px; */
  background-size: cover;
}

.content-wrapper {
}

.menu-frame {
}

.menu-frame-inner {
  /* border: 16px solid #FDDEA8; */
  /* Firefox */
  height: 100%;
}

.side-border-left {
  position: fixed;
  height: 100vh;
  left: 0px;
  z-index: 9999;
  top: 0px;
  width: 10px;
  background-color: #f7dade;
}

.side-border-right {
  position: fixed;
  height: 100vh;
  right: 0px;
  top: 0px;
  z-index: 9999;
  width: 10px;
  background-color: #f7dade;
}

.side-border-bottom {
  position: fixed;
  height: 10px;
  right: 0px;
  bottom: 0px;
  z-index: 9999;
  width: 100%;
  background-color: #f7dade;
}

.side-border-top {
  position: fixed;
  height: 10px;
  right: 0px;
  z-index: 9999;
  top: 0px;
  width: 100%;
  background-color: #f7dade;
}

.description-language {
  color: #fde392;
  max-width: 982px;
  margin: 5px auto;
  font-size: 42px;
  font-family: "Print Bold";
  text-align: center;
  line-height: 60px;
}

.menu-frame .four-corner-link {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2.5px;

  font-weight: 300;
  margin: 45px;
  z-index: 4;

  padding: 6px 6px 5px 10px;
  text-decoration: none;
  color: #3366cc;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  font-family: "Baron Neue";
  font-weight: 700;
  transition: all 0.5s ease;
  letter-spacing: 8.5px;
}

.menu-frame .four-corner-link:hover {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #3366cc;
  /* padding: 10px 10px; */
  /* border: 3px solid #3366cc; */
}

.fourcorner-active {
  /* color: white !important; */
  /* padding: 10px 10px;
  background: #3366cc;
  border: 3px solid #3366cc; */
}

.menu-frame .style-link {
  position: fixed;
  left: 0px;
  top: 0px;
}

.menu-frame .press-link {
  position: fixed;
  right: 0px;
  top: 0px;
}

.menu-frame .team-link {
  position: fixed;
  left: 0px;
  bottom: 0px;
}

.menu-frame .clients-link {
  position: fixed;
  right: 0px;
  bottom: 0px;
}

.menu-logo {
  margin: 42px auto;
  text-align: center;
  max-width: 247px;
  display: block;
}

.menu-logo-abs {
  position: absolute;
  margin: auto;
  margin-top: 17px;
  margin-bottom: 37px;
  left: 0;
  right: 0;
}

.scroll-down {
  color: #497cc0;
  font-size: 50px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  text-align: center;
  cursor: pointer;
}

.menu-frame .bottom-bar {
  height: 6px;
  z-index: 6;
  background-color: #497cc0;
  width: 0%;
  margin-top: 5px;
  transition: all 0.3s ease;
}

.menu-frame .bottom-bar-active {
  transition: all 0.3s ease;
  width: 96%;
}

.footer-wrapper {
  width: 100%;
  height: fit-content;
  padding-bottom: 20px;
  background: white;
  position: relative;
  background: #f7dade;
  border-top: 16px solid #f7dade;
}

.footer-wrapper .footer-wrapper-inner {
  position: relative;
  max-width: 853px;
  padding-top: 30px;
  margin: auto;
}

.footer-wrapper .footer-wrapper-inner h3 {
  color: #3366cc;
  font-family: "Print Bold";
  font-size: 35px;
  margin-bottom: 0px;
  line-height: 35px;
}

.footer-wrapper .footer-wrapper-inner h4 a {
  color: #fff;
  font-family: "Print Bold";
  font-size: 35px;
  margin-top: 0px;
  font-weight: 300;
  line-height: 35px;
}

.footer-wrapper .footer-footer-wrapper {
  margin-top: 54px;
}

.sign-up-wrapper {
  position: absolute;
  right: 0px;
  top: 30px;
}

.sign-up-wrapper input {
  background: transparent;
}

.sign-up-wrapper p {
  font-family: "Print Bold";
  opacity: 1;
  color: #222;
  text-align: center;
  line-height: 28px;
  margin-bottom: 0px;
  font-size: 19px;
}

.footer-wrapper .footer-footer-wrapper p {
  font-family: "Print Bold";
  opacity: 1;
  color: #222;
  text-align: center;
  line-height: 24px;
  margin-bottom: 0px;
  font-size: 15px;
}

.home-wrapper {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.home-wrapper .logo-container {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 38px 0px;
  position: relative;
  flex-direction: column;
}

.style-wrapper {
  margin-top: 100px;
  margin-bottom: 70px;
}

.style-wrapper .logo-container {
  padding: 60px 0px;
  margin-bottom: 30px;
}

.style-wrapper .style-container {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 30px;
}

.style-wrapper .direction-container {
  max-width: 581px;
  margin: auto;
  margin-bottom: 30px;
}

.content-header p {
  font-family: "Baron Neue";
  color: #6f6f6f;
  font-size: 20px;
}

.style-wrapper .style-container .content-container {
  position: relative;
  border: 2px solid #f7dade;
  text-align: center;
  margin: 15px;
  /* padding-top: 61px; */
  padding: 61px;
}

.tight-container {
  max-width: 876px !important;
  margin: auto !important;
}

.style-wrapper
  .style-container
  .content-container
  .style-wrapper
  .style-container
  .content-container
  .content-header {
  font-size: 23px;
  background: white;
  max-width: 200px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: -16px;
  /* margin-bottom: 36px; */
}

.style-wrapper .style-container .content-container .content-block {
  margin-bottom: 40px;
}

.style-wrapper .style-container .icon-container-thing .content-block {
  margin-bottom: 10px;
}

.style-wrapper .style-container .content-container .content-block img {
  width: 100%;
  margin-bottom: 30px;
}

.style-wrapper
  .style-container
  .content-container
  .content-block
  .content-small-icon {
  margin: auto;
  max-width: 130px;
}

.style-wrapper
  .style-container
  .content-container
  .content-block
  .content-icon {
  /* width: 100%; */
  background: #3366cc;
  height: 424px;
  min-width: 100px;
  border-radius: 1013px;
  margin: 20px;
}

.style-wrapper
  .style-container
  .content-container
  .content-block
  .content-title {
  font-weight: 800;
  letter-spacing: 1.5px;
  font-family: "Baron Neue";
}

.style-wrapper
  .style-container
  .content-container
  .content-block
  .content-paragraph {
  padding: 0px 20px;
  font-size: 18.5px !important;
  text-align: justify;
  line-height: 31px;
}

.center {
  text-align: center !important;
}

.home-wrapper .home-main-image {
  width: 100%;
}

.home-wrapper .main-text-block {
  text-align: center;
  margin-top: 40px;
  line-height: 57px;
  font-size: 23px;
}

.home-pagep-title {
  position: absolute;
  /* font-family: "Print Bold"; */
  /* text-transform: capitalize; */
  margin-top: 105px !important;
}

.footer-block {
  position: absolute;
  top: 50%;
  font-family: "Print Bold";
  font-weight: 400;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.footer-logo {
  width: 150px;
}

.social-icons a {
  padding: 0px 15px;
  color: #222;
}

.blue-text {
  color: #3366cc !important;
}

.social-icons a:hover {
  padding: 0px 15px;
  color: #222;
  color: #3366cc;
}

.button {
  background: #3366cc;
  padding: 15px 30px;
  color: white;
  transition: all 0.5s ease;
  white-space: nowrap;
}

.button:hover {
  background: #38b095;
  padding: 15px 30px;
  color: white;
  transition: all 0.5s ease;
}

.wf-input {
  margin: 10px 0;
  width: 100%;
  padding: 6px;
  /* border: 0; */
  border-color: #3366cc;
  outline: 1;
  border-width: 0px;
  border-bottom-width: 2px;
  margin-bottom: 25px;
}

.see-all-posts {
  font-family: "Baron Neue";
  text-decoration: underline;
  color: #3366cc;
}

.wf-input:focus {
  outline: none;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.home-pagep-title {
  /* text-transform: capitalize; */
  letter-spacing: 4.8px;
  margin-top: 15px;
  font-size: 20px;
}

/* Styles Page Styles */

.image-content-green {
  background: #cee1dd;
  padding: 30px;
}

.center-logo {
  width: 100%;
  max-width: 602px;
  margin: auto;
  text-align: center;
}

.image-container-green img {
  width: 100%;
  box-shadow: 14px 15px 0px 1px #cee1dd;
}

.image-content-red {
  background: #e6d9d6;
  padding: 30px;
}

.image-container-red img {
  width: 100%;
  box-shadow: 14px 15px 0px 1px #e6d9d6;
}

.image-content-yellow {
  background: #fddea8;
  padding: 30px;
}

.image-container-yellow img {
  width: 100%;
  box-shadow: 14px 15px 0px 1px #fddea8;
}

.company-listings {
  max-width: 865px;
  margin: 100px auto;
}

.company-listings .client-menu {
  text-align: center;
  margin-bottom: 50px;
}

.company-listings .client-menu p {
  font-size: 18px;
}

.company-listings .client-menu p span {
  cursor: pointer;
  letter-spacing: 1.5px;
  margin-right: 5px;
  margin-left: 9px;
}

.company-listings .client-menu p span:hover {
  font-weight: 800;
}

.company-listings h2 {
  text-align: center;
  font-weight: 500;
  font-family: "Baron Neue";
  font-size: 18px;
  letter-spacing: 2.5px;
  margin-top: 10px;
  text-transform: uppercase;
}

.client-object {
  text-align: center;
  padding: 14px 22px;
}

.client-only .client-object {
  /* min-height: 351px; */
  transition: all 0.5s ease;
}

.client-object .client-image {
  width: 100%;
  transition: all 0.5s ease;
  border-radius: 3px;
  border: 0px solid white;
  /* margin-bottom: 17px; */
}

.client-object h3 {
  text-align: center;
  margin-top: 15px;
  transition: all 0.5s ease;
  font-weight: 6001;
  letter-spacing: 1.5px;
  font-size: 19px;
  line-height: 23px;
  text-transform: lowercase !important;
  font-weight: inherit;
  margin-bottom: 5px;
  display: inherit;
  text-align: center;
}

.client-object:hover h3 {
  transition: all 0.5s ease;
  color: #3366cc;

  /* text-decoration: underline; */
}

.client-object .border-container {
  /* padding-top: 20px; */
}

.client-object .border-container .border {
  transition: all 0.5s ease;
  background-color: #3366cc;
  height: 7px;
  margin: auto;
  width: 0%;
  /* display: inherit; */
}

.content-paragraph a {
  color: #3366cc;
  padding-bottom: 0px;
  border-bottom: 3px solid currentColor;
  /* text-decoration: underline; */
}

.client-object:hover .border-container .border {
  width: 70%;
  margin: auto;
  transition: all 0.5s ease;
}

.icon-wrapper {
  text-align: center;
  margin-bottom: 17px;
}

.icon-wrapper .icon {
  color: #b08ad6;
  margin: 6px;
  padding: 7px;
  border: 2px solid #b08ad6;
  border-radius: 100px;
}

.icon-wrapper .icon i {
  color: #b08ad6;
  font-size: 16px;
}

@media screen and (max-width: 1500px) {
  .content-wrapper {
  }
}

@media screen and (max-width: 768) {
  .style-wrapper .style-container .content-container {
    margin-top: 50px;
  }
}

@media screen and (max-width: 989px) {
  .menu-icon {
    display: inline;
    font-size: 31px;
    position: fixed;
    z-index: 9999;
    right: 32px;
    top: 48px;
  }

  .mobile-hidden {
    display: none;
  }

  .content-wrapper {
  }

  .menu-frame-inner {
    display: none;
  }

  .menu-logo {
    margin-top: 45px;
    position: fixed;
    left: 120px;
    max-width: 120px;
    margin-left: -83px;
    z-index: 9999;
  }

  .image-container-green {
    margin: 50px 0px;
  }

  .image-container-red {
    margin: 50px 0px;
  }

  .image-container-yellow {
    margin: 50px 0px;
  }
}

.close-icon {
  position: absolute;
  right: 70px;
  font-size: 27px;
  top: 55px;
  color: black;
  cursor: pointer;
}

.link-container {
  position: absolute;
  right: 20px;
  top: 95px;
  text-align: right !important;
  line-height: 50px;
}

.link-container a {
  text-align: right !important;
}

.press-object .internal-press-container {
  width: 70%;
  height: 50px;
  background: white;
  margin: 0 auto;
}

.client-press-container-thing {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  flex-wrap: wrap;
}

.client-press-container-thing .client-press-peice {
  flex-basis: 25%;
}

.ant-input {
  border: 0px !important;
  border-bottom: 2px solid black !important;
  border-radius: 0px !important;
  background: none !important;
  padding-left: 0px !important;
}

.ant-input:focus {
  outline: none !important;
  -webkit-box-shadow: 0px 0px !important;
  border-bottom: 3px solid #3366cc !important;
}

.ant-btn-primary {
  background: #4ee3c2 !important;
  border-color: #4ee3c2 !important;
  height: 50px !important;
  line-height: -7px !important;
  padding: 0px 47px !important;
  border-radius: 0px !important;
  font-family: "Print Bold";
}

.press-object {
  height: 200px;
  width: 200px;
  background: #e0bee0;
  background-image: url("https://i.imgur.com/dd41lZO.png");
  background-size: cover;
  box-shadow: 0 2px 5px #ababab;
  border-radius: 3px;
  padding-top: 05px;
  margin: auto;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.press-object:hover {
  box-shadow: 0 6px 20px #ababab;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.press-logo {
  width: 100%;
  padding: 10px 45px;
}

.press-logo {
  filter: grayscale(1);
}

.press-photo {
  border: 7px solid white;
  width: 65%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mobile-link-container .active {
  color: #000;
  border-bottom: 3px solid #000;
}

.press-image-container {
  position: relative;
}

.client-object .press-image-overlay {
  position: absolute;
  top: 0px;
  background: #3366cc;
  height: 100%;
  opacity: 0;
  transition: all 0.5s ease;
  width: 100%;
}

.client-object .press-title {
  font-weight: 400 !important;
  text-align: center !important;
  font-size: 22px;
  padding: 5px 10px;
  height: 109px;
  text-overflow: ellipsis;
  transition: all 0.5s ease;
  /* overflow: hidden; */
  z-index: 99;
  top: 0px;
  position: absolute;
  margin: 0px;
  opacity: 0;
  color: white;
  /* display: none; */
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.client-object:hover .press-image-overlay {
  opacity: 0.9;

  transition: opacity 0.5s ease;
}

.client-object:hover .press-title {
  transition: opacity 0.5s ease;
  opacity: 1;
  font-size: 22px;
  text-decoration: none;
  height: 100%;
  color: white;
  overflow-y: scroll;
  overflow-x: hidden;
}

.client-object:hover .press-title::-webkit-scrollbar {
  width: 5px;
}

.client-object:hover .press-title::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 0px;
}

.client-object:hover .press-title::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 0px;
}

.client-object:hover .press-title::-webkit-scrollbar-thumb:hover {
  background: #fff;
  width: 5px;
}

@media screen and (max-width: 989px) {
  .style-wrapper .direction-container {
    padding: 40px 25px;
  }

  .style-wrapper .style-container .content-container {
    padding: 20px 30px;
  }

  .style-wrapper .direction-container {
    margin-bottom: 10px;
  }

  .menu-frame .four-corner-link {
    display: contents;
  }

  .link-container {
    margin-right: 30px;
  }

  .tight-container {
    padding: 40px;
  }
}
