@font-face {
  font-family: 'Baron Neue';
  font-style: normal;
  font-weight: normal;
  src: local('Baron Neue'), url('../fonts/Baron\ Neue.woff') format('woff');
}


@font-face {
  font-family: 'Baron Neue Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Baron Neue Italic'), url('../fonts/Baron\ Neue\ Italic.woff') format('woff');
}


@font-face {
  font-family: 'Baron Neue Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Baron Neue Bold Italic'),
    url('../fonts/Baron\ Neue\ Bold\ Italic.woff') format('woff');
}


@font-face {
  font-family: 'Baron Neue Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Baron Neue Bold'),
    url('../fonts/Baron\ Neue\ Bold.woff') format('woff');
}


@font-face {
  font-family: 'Baron Neue Black Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Baron Neue Black Italic'),
    url('../fonts/Baron\ Neue\ Black\ Italic.woff') format('woff');
}


@font-face {
  font-family: 'Baron Neue Black';
  font-style: normal;
  font-weight: normal;
  src: local('Baron Neue Black'),
    url('../fonts/Baron\ Neue\ Black.woff') format('woff');
}

.global-container {
  font-family: 'Inconsolata', monospace;
  overflow: hidden;
  min-height: 100vh;
  background-size: cover;

}

.content-wrapper {
  margin-left: 128px;
  margin-right: 128px;
}

.menu-frame {}

.menu-frame-inner {
  /* border: 16px solid #FDDEA8; */
  /* Firefox */
  height: 100%;
}

.side-border-left {
  position: fixed;
  height: 100vh;
  left: 0px;
  z-index: 9999;
  top: 0px;
  width: 16px;
  background-color: #f7dade;
}

.side-border-right {
  position: fixed;
  height: 100vh;
  right: 0px;
  top: 0px;
  z-index: 9999;
  width: 16px;
  background-color: #f7dade;
}

.side-border-bottom {
  position: fixed;
  height: 16px;
  right: 0px;
  bottom: 0px;
  z-index: 9999;
  width: 100%;
  background-color: #f7dade;
}

.side-border-top {
  position: fixed;
  height: 16px;
  right: 0px;
  z-index: 9999;
  top: 0px;
  width: 100%;
  background-color: #f7dade;
}

.menu-frame .four-corner-link {
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 4.5px;

  font-weight: 300;
  margin: 45px;
  z-index: 4;

  padding: 0px 5px 3px -10px;
  text-decoration: none;
  color: #3366cc;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  letter-spacing: 2.5px;

}

.menu-frame .four-corner-link:hover {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: black;
  padding: 10px 10px;
  border: 3px solid #3366cc;
}

.fourcorner-active {
  color: white !important;
  padding: 10px 10px;
  background: #3366cc;
  border: 3px solid #3366cc;
}

.menu-frame .style-link {
  position: fixed;
  left: 0px;
  top: 0px;
}

.menu-frame .press-link {
  position: fixed;
  right: 0px;
  top: 0px;
}

.menu-frame .team-link {
  position: fixed;
  left: 0px;
  bottom: 0px;
}

.menu-frame .clients-link {
  position: fixed;
  right: 0px;
  bottom: 0px;
}

.menu-logo {
  margin: 27px auto;
  text-align: center;
  max-width: 350px;
  display: block;
}

.menu-frame .bottom-bar {
  height: 17px;
  z-index: 2;
  position: fixed;
}

.menu-frame .team-bottom-bar {
  background-color: #ffde37;
  bottom: 0px;
  left: 0px;
  margin: 44px 56px;
  width: 75px;
}

.menu-frame .style-bottom-bar {
  background-color: #ffc7a1;
  top: 0px;
  left: 0px;
  margin: 65px 56px;
  width: 75px;
}

.menu-frame .press-bottom-bar {
  background-color: #ce8bcc;
  top: 0px;
  right: 0px;
  margin: 70px 45px;
  width: 75px;
}

.menu-frame .clients-bottom-bar {
  background-color: #3366cc;
  bottom: 0px;
  right: 0px;
  margin: 45px 45px;
  width: 100px;
}

.footer-wrapper {
  width: 100%;
  height: 250px;
  background: white;
  border-top: 16px solid #f7dade;
}

.home-wrapper {
  margin-top: 316px;
  margin-bottom: 70px;
}

.style-wrapper {
  margin-top: 100px;
  margin-bottom: 70px;

}

.style-wrapper .style-container {
  max-width: 600px;
  margin: auto;

}

.style-wrapper .style-container .content-container {
  position: relative;
  border: 2px solid #f7dade;
  text-align: center;
  /* padding-top: 61px; */
  padding: 61px;

}

.style-wrapper .style-container .content-container .content-header {
  font-size: 23px;
  background: white;
  max-width: 200px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: -16px;
  /* margin-bottom: 36px; */

}

.style-wrapper .style-container .content-container .content-block {
  margin-bottom: 40px;
}

.style-wrapper .style-container .content-container .content-block img {
  width: 100%;
  margin-bottom: 30px;
}

.style-wrapper .style-container .content-container .content-block .content-small-icon {
  margin: auto;
  max-width: 190px;
}


.style-wrapper .style-container .content-container .content-block .content-icon {
  /* width: 100%; */
  background: #3366cc;
  height: 424px;
  min-width: 100px;
  border-radius: 1013px;
  margin: 20px;

}

.style-wrapper .style-container .content-container .content-block .content-title {
  font-weight: 800;
  letter-spacing: 1.5px;
  font-family: "Baron Neue"


}

.style-wrapper .style-container .content-container .content-block .content-paragraph {}

.home-wrapper .home-main-image {
  width: 100%;
}

.home-wrapper .main-text-block {
  text-align: center;
  margin-top: 40px;
  line-height: 57px;
  font-size: 23px;
}

.footer-block {
  position: absolute;
  top: 50%;
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.footer-logo {
  width: 150px;
}

.social-icons a {
  padding: 0px 15px;
  color: #222;
}

.social-icons a:hover {
  padding: 0px 15px;
  color: #222;
  color: #3366cc;
}

.button {
  background: #3366cc;
  padding: 15px 30px;
  color: white;
  transition: all 0.5s ease;
  white-space: nowrap;
}

.button:hover {
  background: #38b095;
  padding: 15px 30px;
  color: white;
  transition: all 0.5s ease;
}

.wf-input {
  margin: 10px 0;
  width: 100%;
  padding: 6px;
  /* border: 0; */
  border-color: #3366cc;
  outline: 1;
  border-width: 0px;
  border-bottom-width: 2px;
  margin-bottom: 25px;
}

.wf-input:focus {
  outline: none;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.home-pagep-title {
  text-transform: uppercase;
  letter-spacing: 4.8px;
  margin-top: 15px;
  font-size: 20px;
}

/* Styles Page Styles */

.image-content-green {
  background: #cee1dd;
  padding: 30px;
}

.center-logo {
  width: 100%;
  max-width: 832px;
  margin: auto;
  text-align: center;
}

.image-container-green img {
  width: 100%;
  box-shadow: 14px 15px 0px 1px #cee1dd;
}

.image-content-red {
  background: #e6d9d6;
  padding: 30px;
}

.image-container-red img {
  width: 100%;
  box-shadow: 14px 15px 0px 1px #e6d9d6;
}

.image-content-yellow {
  background: #fddea8;
  padding: 30px;
}

.image-container-yellow img {
  width: 100%;
  box-shadow: 14px 15px 0px 1px #fddea8;
}

.company-listings {
  max-width: 1385px;
  margin: 100px auto;
}

.company-listings .client-menu {
  text-align: center;
  margin-bottom: 50px;
}

.company-listings .client-menu p {
  font-size: 18px;
}

.company-listings .client-menu p span {
  cursor: pointer;
  letter-spacing: 1.5px;
  margin-right: 5px;
  margin-left: 9px;
}

.company-listings .client-menu p span:hover {
  font-weight: 800;
}

.company-listings h2 {
  text-align: center;
  font-weight: 500;
  font-family: "Baron Neue";
  font-size: 18px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.client-object {
  padding: 34px;
}

.client-object .client-image {
  width: 100%;
  box-shadow: 0 3px 5px #ababab;
  border-radius: 3px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: 0px solid white;
}

.client-object .client-image:hover {
  top: 10px;
  box-shadow: 0 6px 20px #ababab;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  top: 10px;
  border: 13px solid white;
}

.client-object h3 {
  text-align: center;
  margin-top: 15px;
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 14px;
  text-transform: lowercase !important;
  font-weight: inherit;
}

@media screen and (max-width: 1500px) {
  .content-wrapper {
    margin-left: 28px;
    margin-right: 28px;
  }
}

@media screen and (max-width: 989px) {
  .menu-icon {
    display: inline;
    font-size: 31px;
    position: fixed;
    z-index: 9999;
    right: 32px;
    top: 48px;
  }

  .mobile-hidden {
    display: none;
  }

  .content-wrapper {
    margin-left: 28px;
    margin-right: 28px;
  }

  .menu-frame-inner {
    display: none;
  }

  .menu-logo {
    margin-top: 45px;
    position: fixed;
    left: 120px;
    margin-left: -83px;
    z-index: 9999;
  }

  .home-wrapper {
    margin: 316px 50px 50px 50px;
  }

  .image-container-green {
    margin: 50px 0px;
  }

  .image-container-red {
    margin: 50px 0px;
  }

  .image-container-yellow {
    margin: 50px 0px;
  }
}

.close-icon {
  position: absolute;
  right: 70px;
  font-size: 27px;
  top: 55px;
  color: black;
  cursor: pointer;
}

.link-container {
  position: absolute;
  right: 20px;
  top: 95px;
  text-align: right !important;
  line-height: 50px;
}

.link-container a {
  text-align: right !important;
}

.press-object .internal-press-container {
  width: 70%;
  height: 50px;
  background: white;
  margin: 0 auto;
}

.ant-input {
  border: 0px !important;
  border-bottom: 2px solid black !important;
  border-radius: 0px !important;
  background: none !important;
  padding-left: 0px !important;
}

.ant-input:focus {
  outline: none !important;
  -webkit-box-shadow: 0px 0px !important;
  border-bottom: 3px solid #3366cc !important;
}

.ant-btn-primary {
  background: #4ee3c2 !important;
  border-color: #4ee3c2 !important;
  height: 50px !important;
  line-height: -7px !important;
  padding: 0px 47px !important;
  border-radius: 0px !important;
  font-family: 'Inconsolata', monospace;
}

.press-object {
  height: 200px;
  width: 200px;
  background: #e0bee0;
  background-image: url("https://i.imgur.com/dd41lZO.png");
  background-size: cover;
  box-shadow: 0 2px 5px #ababab;
  border-radius: 3px;
  padding-top: 05px;
  margin: auto;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.press-object:hover {
  box-shadow: 0 6px 20px #ababab;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.press-logo {
  width: 100%;
  padding: 10px 45px;
}

.press-logo {
  filter: grayscale(1);
}

.press-photo {
  border: 7px solid white;
  width: 65%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mobile-link-container .active {
  color: #000;
  border-bottom: 3px solid #000;
}

.client-object .press-title {
  font-weight: 400 !important;
  text-align: left !important;
  font-size: 12px;
}